# Advanced Querying Mongo

Importing libraries and setting up connection

In [2]:
from pymongo import MongoClient
client = MongoClient()

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [4]:
db = client.get_database("companies")

In [5]:
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'companies')

### 1. All the companies whose name match 'Babelgum'. Retrieve only their `name` field.

In [5]:
# Your Code
len(list(db.companies.find({"name":"Babelgum"})))

1

In [7]:
babelgum = db.companies.find({"name":"Babelgum"})
babelgum[0]["name"]

'Babelgum'

### 2. All the companies that have more than 5000 employees. Limit the search to 20 companies and sort them by **number of employees**.

In [13]:
len(list(db.companies.find({"number_of_employees":{"$gt":5000}})))

109

In [26]:
# Your Code
filter_c = {"number_of_employees":{"$gt":5000}}

big_comp = db.companies.find(filter_c).sort([("number_of_employees",-1)])
top_20 = big_comp.limit(20)
#print(list(top_20))

### 3. All the companies founded between 2000 and 2005, both years included. Retrieve only the `name` and `founded_year` fields.

In [32]:
# Your Code
filter_f = {"founded_year":{"$gte":2000, "$lte":2005}}
project = {"name":1,"founded_year":1}

founded = list(db.companies.find(filter_f,project))
founded[:5]

[{'_id': ObjectId('52cdef7c4bab8bd675297d8c'),
  'name': 'Zoho',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8f'),
  'name': 'Omnidrive',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d8a'),
  'name': 'Wetpaint',
  'founded_year': 2005},
 {'_id': ObjectId('52cdef7c4bab8bd675297d96'),
  'name': 'Gizmoz',
  'founded_year': 2003},
 {'_id': ObjectId('52cdef7c4bab8bd675297d9a'),
  'name': 'Helio',
  'founded_year': 2005}]

### 4. All the companies that had a Valuation Amount of more than 100.000.000 and have been founded before 2010. Retrieve only the `name` and `ipo` fields.

In [35]:
all_doc = list(db.companies.find({}))
keys = list(map(lambda x: x.keys(),all_doc))
list(set([k for lst in keys for k in lst]))[:]

['relationships',
 'deadpooled_year',
 'phone_number',
 'investments',
 'number_of_employees',
 'partners',
 'homepage_url',
 'permalink',
 'external_links',
 'image',
 'deadpooled_url',
 'offices',
 'founded_month',
 'description',
 'blog_url',
 'created_at',
 'blog_feed_url',
 'funding_rounds',
 'founded_day',
 'competitions',
 'acquisition',
 'milestones',
 'name',
 'email_address',
 'deadpooled_month',
 'screenshots',
 'updated_at',
 '_id',
 'deadpooled_day',
 'ipo',
 'alias_list',
 'crunchbase_url',
 'providerships',
 'total_money_raised',
 'video_embeds',
 'founded_year',
 'overview',
 'twitter_username',
 'products',
 'acquisitions',
 'tag_list',
 'category_code']

In [69]:
# Your Code
filter_va = {"ipo.valuation_amount":{"$gte":100000000}, "founded_year":{"$lt":2010}}
project = {"name":1,"ipo.valuation_amount":1}

valuation_amount = list(db.companies.find(filter_va,project))
print(len(valuation_amount))

42

### 5. All the companies that have less than 1000 employees and have been founded before 2005. Order them by the number of employees and limit the search to 10 companies.

In [42]:
# Your Code
filter_e = {"number_of_employees":{"$lt":1000}, "founded_year":{"$lte":2005}}

small_comp = db.companies.find(filter_e).sort([("number_of_employees",-1)])
top_10 = small_comp.limit(10)
#print(list(top_10))

### 6. All the companies that don't include the `partners` field.

In [76]:
# Your Code
project = {"partners":0}

not_partners = list(db.companies.find(project))
print(len(not_partners))

0

### 7. All the companies that have a null type of value on the `category_code` field.

In [74]:
# Your Code
filter_cat = {"category_code":None}

cat = list(db.companies.find(filter_cat))
print(len(cat))

2751

### 8. All the companies that have at least 100 employees but less than 1000. Retrieve only the `name` and `number of employees` fields.

In [89]:
# Your Code
filter_m = {"number_of_employees":{"$gte":100, "$lte":1000}}
project = {"name":1,"number_of_employees":1}

medium_comp = list(db.companies.find(filter_m,project))
print(len(medium_comp))

942

### 9. Order all the companies by their IPO price in a descending order.

In [72]:
# Your Code
filter_i = {"ipo.valuation_amount":{"$ne":None}}

ipo = list(db.companies.find(filter_i).sort([("number_of_employees",-1)]))
print(len(ipo))

61

### 10. Retrieve the 10 companies with more employees, order by the `number of employees`

In [70]:
# Your Code
sort_n = [("number_of_employees",-1)]
ten_comp = list(db.companies.find({}).sort(sort_n).limit(10))

for i in ten_comp:
    print(i["name"],i["number_of_employees"])

Siemens 405000
IBM 388000
Toyota 320000
PayPal 300000
Nippon Telegraph and Telephone Corporation 227000
Samsung Electronics 221726
Accenture 205000
Tata Consultancy Services 200300
Flextronics International 200000
Safeway 186000

### 11. All the companies founded on the second semester of the year. Limit your search to 1000 companies.

In [65]:
# Your Code
filter_m = {"$or":[{"founded_month":{"$gte":6}},{"founded_month":{"$lte":12}}]}

second_sem = db.companies.find(filter_m)
top_1000 = second_sem.limit(100) #he cambiado el limite a 100 porque con 1000 me ha saltado un mensaje de que iba a petar la RAM
#print(list(top_1000))

### 12. All the companies founded before 2000 that have an acquisition amount of more than 10.000.00

In [81]:
# Your Code
filter_f = {"founded_year":{"$lte":2000},"acquisition.price_amount":{"$gt":100000}}

all_comp = list(db.companies.find(filter_f))
print(len(all_comp))

270

### 13. All the companies that have been acquired after 2010, order by the acquisition amount, and retrieve only their `name` and `acquisition` field.

In [82]:
# Your Code
filter_a = {"acquisition.acquired_year":{"$gt":2010}}
project = {"name":1,"acquisition":1}
sort = [("acquisition.price_amount",1)]

acquired_comp = list(db.companies.find(filter_a,project).sort(sort))
print(len(acquired_comp))

736

### 14. Order the companies by their `founded year`, retrieving only their `name` and `founded year`.

In [6]:
# Your Code
filter_o = {"founded_year":{"$ne":None}}
project = {"name":1,"founded_year":1}
sort = [("founded_year",1)]

order_comp = db.companies.find(filter_o,project).sort(sort)
top_comp = order_comp.limit(10) #he tenido que poner limite por la RAM

for i in top_comp:
    print(i["name"],i["founded_year"])

US Army 1800
Alstrasoft 1800
SmallWorlds 1800
DuPont 1802
Bachmann Industries 1833
McKesson 1833
Bertelsmann 1835
Accuity 1836
CENTRA 1839
WeGame 1840

### 15. All the companies that have been founded on the first seven days of the month, including the seventh. Sort them by their `acquisition price` in a descending order. Limit the search to 10 documents.

In [8]:
# Your Code
filter_a = {"founded_day":{"$lte":7}}
sort = [("acquisition.price_amount",-1)]

first_seven = list(db.companies.find(filter_a).sort(sort).limit(10))

for i in first_seven:
    print(i["name"],i["founded_day"],i["acquisition"]["price_amount"])

Netscape 4 4200000000
PayPal 1 1500000000
Zappos 1 1200000000
Alibaba 1 1000000000
Postini 2 625000000
Danger 1 500000000
Clearwell Systems 6 410000000
PrimeSense 1 345000000
Amobee 1 321000000
Vitrue 1 300000000

### 16. All the companies on the 'web' `category` that have more than 4000 employees. Sort them by the amount of employees in ascending order.

In [9]:
# Your Code
filter_c = {"number_of_employees":{"$gt":4000}, "category_code":"web"}
sort = [("number_of_employees",1)]

cat_comp = list(db.companies.find(filter_c).sort(sort).limit(10))

for i in cat_comp:
    print(i["name"],i["number_of_employees"],i["category_code"])

Expedia 4400 web
AOL 8000 web
Webkinz 8657 web
Rakuten 10000 web
Los Angeles Times Media Group 10000 web
Groupon 10000 web
Yahoo! 13600 web
eBay 15000 web
Experian 15500 web

### 17. All the companies whose acquisition amount is more than 10.000.000, and currency is 'EUR'.

In [10]:
# Your Code
filter_e = {"acquisition.price_amount":{"$gt":10000000},
            "acquisition.price_currency_code":"EUR"}

curr = list(db.companies.find(filter_e))

for i in curr:
    print(i["name"],i["acquisition"]["price_amount"],i["acquisition"]["price_currency_code"])

ZYB 31500000 EUR
Apertio 140000000 EUR
Greenfield Online 40000000 EUR
Webedia 70000000 EUR
Wayfinder 24000000 EUR
Tuenti Technologies 70000000 EUR
BioMed Central 43400000 EUR

### 18. All the companies that have been acquired on the first trimester of the year. Limit the search to 10 companies, and retrieve only their `name` and `acquisition` fields.

In [11]:
# Your Code
filter_t = {"acquisition.acquired_month":{"$lte":3}}
project = {"name":1,"acquisition":1,"_id":0}

third_sem = list(db.companies.find(filter_t,project).limit(10))

for i in third_sem:
    print(i["name"],i["acquisition"]["acquired_month"])

Kyte 1
NetRatings 2
Livestream 1
blogTV 3
iContact 2
Coghead 2
Dailymotion 2
Netvibes 2
Flickr 3
BabyCenter 3

# Bonus
### 19. All the companies that have been founded between 2000 and 2010, but have not been acquired before 2011.

In [ ]:
# Your Code

### 20. All the companies that have been 'deadpooled' after the third year.

In [ ]:
# Your Code